.todoList__container{
  border-radius:0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:stretch;
  background-color:var(--background-color-todo-item);
  box-shadow: 0px 0px 20px var(--shadow-color);
  color:var(--todo-item-text);
  margin-top: 1rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  position: relative;
  padding: 1rem;
}
.filters{
  display: flex;
  justify-content: space-between;
  width:35%;
}
.clear-completed{
  cursor: pointer;
}
@media screen and (max-width: 375px)  {
  .filters{
    justify-content: space-around;
    position: absolute;
    top:120%;
    left:0;
    width: 100%;
    padding: 1rem 3rem;
    background-color:var(--background-color-todo-item);
    box-shadow: 0px 0px 20px var(--shadow-color);
    color:var(--todo-item-text);
    border-radius:0.25rem;
  }
}
